[user]
  name = raahii
  email = piyo56.net@gmail.com

[core]
  pager = less
  ui = auto
  editor = nvim
  excludesfile = ~/.gitignore_global

[push]
  default = matching

[alias]
  # いい感じのグラフでログを表示
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  # 上の省略形
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  # 一行log
  lo = log --oneline
  # Untracked filesを表示せず，not stagedと，stagedだけの状態を出力する
  stt = status -uno
  # 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
  difff = diff --word-diff
  # 今日一日の作業を振り返る
  today = log --oneline --since='12 hour ago'
  # コンフリクトで修正すべきファイルを表示
  conflicts = !git ls-files -u | cut -f 2 | sort -u
  # alias
  st = status
  br = branch
  co = checkout
  cm = commit
  df = diff

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[ghq]
  root = ~/repos/src
